---
layout: base
---
<div class="row">
  <div class="col-md-12 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
  </div>
  <div class="col-md-12 aside3-content">
    <br />
    <div id="content">
      {{ content }}
    </div>
    <br />
    <div class="row">
      {% for movie in page.movies %}
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">{{ movie.title }}</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4 col-xs-12 center">
                  <img src="{{ movie.poster }}" alt="cover" class="img-thumbnail">
                </div>
                <div class="col-md-8 col-xs-12">
                  <table class="table table-bordered">
                    <tbody>
                      <tr><td style="width:80px;">导演</td><td>{{ movie.directedBy }}</td></tr>
                      <tr><td>主演</td><td>{{ movie.actor }}</td></tr>
                      <tr><td>类型</td><td>{{ movie.category }}</td></tr>
                      <tr><td>制片国家/地区</td><td>{{ movie.publisher }}</td></tr>
                      <tr><td>语言</td><td>{{ movie.language }}</td></tr>
                      <tr><td>上映日期</td><td>{{ movie.initialReleaseDate }}</td></tr>
                      <tr>
                        <td>链接</td><td>
                        <a href="{{ movie.link }}" title="{{ movie.link }}">豆瓣链接</a>
                      </td></tr>
                      <tr>
                        <td>状态</td>
                        <td>
                          {% if movie.status == '已看' %}
                            <span class="label label-success">{{ movie.status }}</span>
                          {% elsif movie.status == '未看' %}
                            <span class="label label-default">{{ movie.status }}</span>
                          {% endif %}
                        </td></tr>
                      {% if movie.status == '已看' %}
                        <tr><td>影评</td><td>{{ movie.filmReview }}</td></tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>  
            </div>
          </div>      
        </div>
      {% endfor %}
    </div>
    <hr>
    {% include disqus.html %}
  </div>
</div>

